body {background-color: #EAF6F6;}

hr{background-color: white;
border-style: dotted none none;
border-width: 3px;
border-color: grey;
width: 10%;

height: 0px;
}
img{ height: 240px;
width: 240px;
}
h3{color: #66BFBF;}
h1{color: #66BFBF;}
